body {
    font-family: 'Roboto', sans-serif;
    color: black;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
:root {
    --logo-color: #2196F3;
}
/* header */
.logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: black;
}
.web {
color: var(--logo-color);
}