body {
    font-family: 'Roboto', 'sans-serif';
    color: #2c2c2c;
    font-size: 14px;
    line-height: 1.14;
    background-color: #ffffff;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
} 
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
  }
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
    }
} 
.title {
    font-size: 28px;
    line-height: 1.17;
    @media screen and (min-width: 768px) {
      font-size: 42px;
      line-height: 1.16;
    }
}
/* offerings */
.offerings {
    background-image: url(../src/images/offerings/mob/bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* apple */
.apple {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
}
.apple__item {
    width: 255.56px;
height: 255.55px;
border-radius: 50%;
background: #FEFEFE;
display: flex;
justify-content: center;
}
.apple__picture {
    position: absolute;
    transform: translateY(-42px);
}
/* h2 p */
.main {
    display: flex;
    flex-direction: column;
}
.main__title {
    margin-bottom: 28px;
}
.main__text {
    width: 100%;
    min-width: 272px;
    margin-bottom: 28px;
}
/* about */
.about {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 28px;
}
.about__item {
    width: 100%;
    min-width: 252px;
}
.about__title {
    margin-bottom: 16px;
}
.about__title__rocket::before {
    content: '';
    background: #FFFFFF;
    background-image: url(../src/images/offerings/svg/rocket.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.about__title__touch::before {
    content: '';
    background: #FFFFFF;
    background-image: url(../src/images/offerings/svg/touch.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
/* btn list */
.btn-list {
    display: flex;
    gap: 24px;
    align-items: center;
}
.btn {
    width: 98px;
  height: 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
}
.btn--size {
 width: 106px;
 height: 40px;
 background: #FFFFFF;
 border: 2px solid #7EB101;
}
.read-more {
    font-size: 13.6667px;
line-height: 1.47;
color: #000000;
}
.read-more::after {
    content: url(../src/images/offerings/svg/bird.svg);
    margin-left: 7.75px;
}
