<section class="offerings">
    <div class="apple">
    <ul class="apple__list">
        <li class="apple__item">
            <picture>
                <source 
                srcset="./images/desktop/studio/mykhailoyermakov-desktop.jpg 1x,
                ./images/desktop/studio/mykhailoyermakov-desktop@2x.jpg 2x,
                ./images/desktop/studio/mykhailoyermakov-desktop@2x.jpg 3x"
                media="(min-width1280px)"
                source 
                srcset="./images/tablet/studio/mykhailoyermakov-tablet.jpg 1x,
                ./images/desktop/studio/mykhailoyermakov-desktop@2x.jpg 2x,
                ./images/desktop/studio/mykhailoyermakov-desktop@2x.jpg 3x"
                media="(min-width768px)"
                source 
                srcset="./src/images/offerings/mob/apple-mob-1x.png 1x,
                ./src/images/offerings/mob/apple-mob-1x.png 2x,
                ./src/images/offerings/mob/apple-mob-1x.png 3x"
                media="(min-width480px)"
                />
                <img src="./src/images/offerings/mob/apple-mob-1x.png" alt="team" width="201.6" height="255.55">
        </picture>
        </li>
    </ul>
    </div>
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <ul class="about-list">
<li class="about__item">
    <h3 class="about__title">Fasest Delivery</h3>
    <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
</li>
<li class="about__item">
    <h3 class="about__title">Easy to order</h3>
    <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
</li>
    </ul>
    <ul class="btn__list">
    <li class="btn__item"><button type="button" class="button">Order Now</button></li>
    <li class="btn__item"><a href="" class="read-more" target="_blank" rel="noreferrer noopener">Read More</a></li>
    </ul>
</section>